<div class="d-flex flex-wrap">
    <mat-card *ngFor="let item of products" style="width: 300px; height: 500px; margin: 5px;">
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle><img style="width: 270px;height: 200px;" src="{{item.thumbnail}}" /></mat-card-subtitle>
        <mat-card-subtitle>Category : {{item.category}}</mat-card-subtitle>
        <mat-card-subtitle>Description: {{item.description}}</mat-card-subtitle>
        <mat-card-subtitle>Price: {{item.price}} $</mat-card-subtitle>
        <button class="btn btn-success " style="position: absolute; right: 20px;bottom:20px">Buy</button>
    </mat-card>
</div>